body{
  --body-back:#ddb;
  --content-back: #ffe;
  --header-back:#ffc;
  --box-shadow:#aaa;
  --outline-norm:#000;
  --outline-high:#f00;
  --custom-border:#000;
  --custom-color:#000;
  --custom-back:#ddd;
  --custom-active:#fff;
  --custom-active-back:#f00;
  --custom-hover:#f88;
  --action-color:#606;
  --person-color:#606;
  --room-color:#808;
  --exit-color:#800;
  --thing-color:#00f;
  --textobj-color:#008;
  --supporter-color:#060;
  --container-color:#800;
  --decor-border:#666;
  --decor-back:#ddd;
  --default-color:#000;
  --default-back:#fff;
  --unvisited-color:#00f;
  --visited-color:#808;
  --active-color:#f00;
  --hover-color:#00f;
}

body.dark-theme{
  --body-back:#224;
  --content-back:#002;
  --header-back:#003;
  --box-shadow:#113;
  --outline-norm:#000;
  --outline-high:#0ff;
  --custom-border:#666;
  --custom-color:#fff;
  --custom-back:#222;
  --custom-active:#000;
  --custom-active-back:#0ff;
  --custom-hover:#077;
  --action-color:#fbf;
  --person-color:#fbf;
  --room-color:#f6f;
  --exit-color:#f66;
  --thing-color:#99f;
  --textobj-color:#66f;
  --supporter-color:#6f6;
  --container-color:#f66;
  --decor-border:#999;
  --decor-back:#000;
  --default-color:#ffc;
  --default-back:#000;
  --unvisited-color:#ff0;
  --visited-color:#7f7;
  --active-color:#0ff;
  --hover-color:#ff0;
}

body{
  font-family:'Courier New',monospace;
  font-size:16px;
  text-shadow:2px 2px 4px var(--box-shadow);
  background:var(--body-back);
  color:var(--default-color);
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
  
.content{
  margin:0 120px 0 0;
  padding:8px 8px;
  background:var(--content-back);
  box-shadow:4px 4px 4px var(--box-shadow);
  border-radius:2em 2em;
  border:1px dotted var(--box-shadow);
  -moz-transition: height 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: height 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: height 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: height 1s ease-in-out, left 1.5s ease-in-out;
  transition: height 1s ease-in-out, left 1.5s ease-in-out;
}

.header{
  position:-webkit-sticky;
  position:sticky;
  top:0;
  padding:0em 1em;
  margin-bottom:4px;
  background:var(--header-back);
  z-index:1;
  box-shadow:4px 4px 4px var(--box-shadow);
  border-radius:2em 2em;
  border:1px dotted var(--box-shadow);
}

.message{
  padding:1em;
  margin:1em 0 1em 0;
  background:var(--content-back);
  border:1px dotted var(--box-shadow);
  box-shadow: inset 4px 4px 4px var(--box-shadow);
}

.footer{
  padding:1em 1em;
  background:var(--content-back);
}

p{line-height:125%;}

a{text-decoration:none;}
a:link{color:var(--unvisited-color);}
a:visited{color:var(--visited-color);}
a:hover{color:var(--hover-color);}
a:active{color:var(--active-color);}

a.dec{
  font-style:italic;
  font-weight:bolder;
  color:var(--action-color);
}

.flag:not(high){
  display:inline-block;
  box-shadow:4px 4px 4px var(--box-shadow);
  width:40px;
  outline:2px solid var(--outline-norm);
}
.flag.high{
  display:inline-block;
  box-shadow:4px 4px 4px var(--box-shadow);
  width:40px;
  outline:3px solid var(--outline-high);
}

.dark,.edit{
  font-family:arial;
  font-size:12px;
}

input[type="file"] {
  display:none;
}
.custom-file-upload {
  font-family:arial;
  font-size:12px;
  border:2px solid var(--custom-border);
  background:var(--custom-back);
  display:inline-block;
  cursor:pointer;
  padding:1px;
  box-shadow:4px 4px 4px var(--box-shadow);
  width:94px;
}
.custom-file-upload:hover{background:var(--custom-hover);}
.custom-file-upload:active{
  color:var(--custom-active);
  background:var(--custom-active-back);
  transform:translateX(4px) translateY(4px);
  box-shadow:none;
}

.action,.topic{
  font-style:italic;
  font-weight:normal;
  color:var(--action-color);
  cursor:move;
}
.text{
  font-weight:bold;
  color:var(--textobj-color);
  cursor:move;
}
.text.dec{
  border:1px dotted var(--decor-border);
  background:var(--decor-back);
  border-radius:4px;
  padding:0px 8px 0px 8px;
  box-shadow:2px 2px 4px var(--box-shadow);
}
.room{
  font-weight:bold;
  color:var(--room-color);
}
.exit,.portal{
  font-weight:bold;
  color:var(--exit-color);
}
.exit.dec,.portal.dec{
  border:1px solid var(--decor-border);
  background:var(--header-back);
  border-radius:10px;
  padding:2px 8px 2px 8px;
}
.thing{
  font-weight:bold;
  color:var(--thing-color);
  cursor:move;
}
.thing.dec{
  border:2px solid var(--decor-border);
  background:var(--decor-back);
  border-radius:12px;
  padding:0px 8px 0px 8px;
  box-shadow:2px 2px 4px var(--box-shadow);
}
.supporter{
  font-weight:bold;
  color:var(--supporter-color);
  cursor:move;
}
.supporter.dec{
  border:2px dotted var(--decor-border);
  background:var(--decor-back);
  border-radius:12px;
  padding:0px 8px 0px 8px;
  box-shadow:2px 2px 4px var(--box-shadow);
}
.container{
  font-weight:bolder;
  color:var(--container-color);
  cursor:move;
}
.container.dec{
  border:2px dashed var(--decor-border);
  background:var(--decor-back);
  border-radius:12px;
  padding:0px 8px 0px 8px;
  box-shadow:2px 2px 4px var(--box-shadow);
}
.person{
  font-weight:bold;
  color:var(--person-color);
  cursor:move;
}
.person.dec{
  border:2px dotted var(--decor-border);
  background:var(--decor-back);
  padding:2px 8px 2px 8px;
  border-radius:8px;
  box-shadow:2px 2px 4px var(--box-shadow);
}
.vehicle,.mount{
  border:2px dashed var(--decor-border);
  background:var(--decor-back);
  font-weight:bolder;
  color:var(--default-color);
  padding:2px 8px 2px 8px;
  cursor:move;
}

table.menu{
  position:fixed;
  right:4px;
  width:120px;
}

li{line-height:24px;}
/*li.msg:first-child{font-weight:bold;}*/

::selection {color:var(--default-back);background:var(--default-color);}

.button {
  display:inline-block;
  font-weight:bold;
  font-family:arial;
  font-size:12px;
  cursor:pointer;
  color:var(--custom-color);
  background:var(--custom-back);
  box-shadow:4px 4px 4px var(--box-shadow);
  border:2px solid var(--custom-border);
  width:100px;
}
.button:hover{background:var(--custom-hover)}
.button:active{
  color:var(--custom-active);
  background:var(--custom-active-back);
  transform:translateX(4px) translateY(4px);
  box-shadow:none;
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-buzz {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f00;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* animated */

:root {
  --animate-duration:2s;
  --animate-delay:2s;
  --animate-repeat:1;
}

.animate__animated {
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;/*0;*/
  }

  40% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
  }
}
@keyframes flipInX {
  from {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;/*0;*/
  }

  40% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
  }
}
.animate__flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
  }

  30% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 90deg);
    opacity: 1;/*0;*/
  }
}
@keyframes flipOutX {
  from {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
  }

  30% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 90deg);
    opacity: 1;/*0;*/
  }
}
.animate__flipOutX {
  -webkit-animation-duration: calc(1s * 0.75);
  animation-duration: calc(1s * 0.75);
  -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
  animation-duration: calc(var(--animate-duration) * 0.75);
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
