@font-face {font-family: 'special'; src: url('specialelite.ttf');}
body{
  padding: 32px;
  font-family: 'special',serif;
  font-size: 18px;
  text-shadow: 4px 4px 4px #aaa;
  background-color: #ddb;
  user-select: none;
}

.flag{
  box-shadow:4px 4px 4px #aaa;
  width:32px;
}

.edit{
  font-family:arial;
  font-size:13px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  font-family: arial;
  font-size: 13px;
  border: 2px solid #000;
  background-color: #ddd;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  box-shadow:4px 4px 4px #aaa;
}

.action{
  font-style:italic;
  font-weight:normal;
  color: black;
  padding: 4px;
  cursor: move;
}
.room{
  font-weight:bold;
  color:#808;
}
.exit{
  border: 1px solid #999;
  font-weight:bold;
  color:#800;
  border-radius: 12px;
  padding: 4px;
}
.thing{
  border: 2px solid #666;
  background-color: #ddd;
  font-weight: bold;
  color: blue;
  border-radius: 12px;
  padding: 4px;
  cursor: move;
}
.supporter{
  border: 2px dotted #666;
  background-color: #ddd;
  font-weight: bolder;
  color: darkgreen;
  border-radius: 12px;
  padding: 4px;
  cursor: move;
}
.container{
  border: 2px dashed #666;
  background-color: #ddd;
  font-weight: bolder;
  color: darkred;
  border-radius: 12px;
  padding: 4px;
  cursor: move;
}
.person,.vehicle,.mount{
  border: 2px dashed #666;
  background-color: red;
  font-weight: bolder;
  color: white;
  padding: 4px;
  cursor: move;
}

li{line-height:32px;}
::selection {color:white;background:black;}

.button {
  display:inline-block;
  cursor:pointer;
  color:#000;
  background-color:#ddd;
  box-shadow:4px 4px 4px #aaa;
}
.button:hover{background-color:#f88}
.button:active{
  color:#fff;
  background-color:#f00;
  transform:translateX(4px) translateY(4px);
  box-shadow:none;
}
